body {
    background-color: black;
    text-align: center;
}
h1 {
    color: white;
}
.excursion {
    color: aquamarine;
    display: block;
    text-align: center;
    font-weight: bold;
}
p {
    color: grey;
    font-size: 25px;
}
.phone {
    padding-top: 2em;
    padding-bottom: 3em;
}
p.footer {
    text-align: right;
}